body
{
	background-color: #000000;
	color: #ffffff;
	font-size: 1em;
}

a
{
	text-decoration: underline;
	color: #ffff00;
}

#content-table
{
	width: 100%;
	height: 85%;
	color: #ffffff;
}

#content-table td
{
	vertical-align: top;
}

#poll_post td
{
	padding-left: 0.25em;
}

#copyright
{
	font-size: 0.75em;
	text-align: right;
}


/* div classes */
.header
{
	display: block;
	text-align: center;
	background-color: #446688;
	color: #ffffff;
	font-weight: 700;
}

.gbox
{
	/* margin-bottom: 0.5em; */
	vertical-align: top;
	display: block;
	border: 1px solid #ffff00;
	background-color: #000000;
	color: #ffffff;
}

.gbox p
{
	margin:5px;
	text-indent: 2em;
}

.nominated-link
{
	height: 1.5em;
}

.nominated-link a
{
	display: inline-block;
	vertical-align: middle;
	margin-top: 0.25em;
	margin-left: 0.25em;
	font-size: 1em;
}

/* forms */
.input-button
{
	background-color: #224466;
	height: 1.75em;
	color: #ffffff;
	border: 1px solid #ffff00;
}

.input-edit
{
	border: 1px solid #ffff00;
	height: 1.75em;
	color: #000000;
	background-color: #ffffff;
}

.red 
{
	background-color: #884422;
}

.green
{
	background-color: #448822;
}

.yellow
{
	background-color: #888822;
}

/* menus */
.headbar {
	text-align: left;
	width: 100%;
	border: 1px solid black;
	background-color: #446688;
}

.headbar a {
	padding: 0.5em 1em;
	font-size: 1em;
	color: #ffffff;
	text-decoration: none;
	font-weight: 700;
}

.headbar a:hover {
	background-color: #4488aa;
}

.mainmenu {
	list-style-type: none;
	list-style-position: inside;
	padding: 0em;
	display: inline;
}

.mainmenu-right {
	float: right;
}

.mainmenu .nav-item, .nav-item a {
	display: inline-block;
}

.nav-item .submenu, .nav-item .submenu2 {
	padding: 0em;
	list-style-type: none;
	list-style-position: inside;
	position: absolute;
	background-color: #446688;
	min-width: 200px;
	display: none;
}

.submenu .nav-item, .submenu2 .nav-item {
	display: block;
}

.nav-item:hover .submenu {
	display: block;
}

.submenu a {
	min-width: 200px;
}

.submenu .nav-item:hover .submenu2 {
	display: inline-block;
}

.submenu .nav-item:hover .submenu2 a {
	display: block;
}